{{ define "repo" }}
<html>
{{ template "head" . }}

{{ template "repoheader" . }}

  <body>
    {{ template "nav" . }}
    <main>
      {{ $repo := .name }}
      <div class="log">
        {{ range .commits }}
        <div>
          <div><a href="/{{ $repo }}/commit/{{ .Hash.String }}" class="commit-hash">{{ slice .Hash.String 0 8 }}</a></div>
          <pre>{{ .Message }}</pre>
        </div>
        <div class="commit-info">
          {{ .Author.Name }} <a href="mailto:{{ .Author.Email }}" class="commit-email">{{ .Author.Email }}</a>
          <div>{{ .Author.When.Format "Mon, 02 Jan 2006 15:04:05 -0700" }}</div>
        </div>
        {{ end }}
      </div>
      {{ $repo := .name }}
      {{ $ref := .ref }}
      {{ $parent := .parent }}
      <div class="tree">
        {{ range .files }}
        {{ if not .IsFile }}
        <div class="mode">{{ .Mode }}</div>
        <div class="size">{{ .Size }}</div>
        <div>
          {{ if $parent }}
          <a href="/{{ $repo }}/tree/{{ $ref }}/{{ $parent }}/{{ .Name }}">{{ .Name }}/</a>
          {{ else }}
          <a href="/{{ $repo }}/tree/{{ $ref }}/{{ .Name }}">{{ .Name }}/</a>
          {{ end }}
        </div>
        {{ end }}
        {{ end }}
        {{ range .files }}
        {{ if .IsFile }}
        <div class="mode">{{ .Mode }}</div>
        <div class="size">{{ .Size }}</div>
        <div>
          {{ if $parent }}
          <a href="/{{ $repo }}/blob/{{ $ref }}/{{ $parent }}/{{ .Name }}">{{ .Name }}</a>
          {{ else }}
          <a href="/{{ $repo }}/blob/{{ $ref }}/{{ .Name }}">{{ .Name }}</a>
          {{ end }}
        </div>
        {{ end }}
        {{ end }}
      </div>
{{- if .readme }}
      <article class="readme">
        {{- .readme -}}
      </article>
{{- end -}}

      <div class="clone-url">
      <strong>clone</strong>
        <pre>
git clone https://{{ .servername }}/{{ .name }}
        </pre>
      </div>
    </main>
  </body>
</html>
{{ end }}
